<!DOCTYPE html>
<br>
<nav ng-controller="NavController">
    <ul class="nav nav-tabs topNavButtons">
        <li ng-class="{'active': $location.url() == '/profile'}"><a href="#/profile">Profile</a></li>
        <li ng-class="{'active': $location.url() == '/books'}"><a href="#/books">Books</a></li>
        <li ng-class="{'active': $location.url() == '/following'}"><a href="#/following">Following</a></li>
        <li ng-class="{'active': $location.url() == '/reviews'}"><a href="#/reviews">Reviews</a></li>
    </ul>
</nav>
<br>
<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th class="columnHeading"> BookId</th>
            <th class="columnHeading">Rating</th>
            <th class="columnHeading">Comments</th>
            <th class="columnHeading">Action</th>
        </tr>
        <tr>
            <td><div class="input-group"><input type="text" ng-model="bookId" class="form-control"  placeholder="name"></div></td>
            <td><div class="input-group"><input type="text" ng-model="rating" class="form-control ratingReviews"   placeholder="rating"></div></td>
            <td><div class="input-group"><input type="text" ng-model="comments" class="form-control"  placeholder="comments"></div></td>
            <td><span ng-class="disable ? 'glyphicon glyphicon-plus iconButton' :  'glyphicon glyphicon-plus link-disable iconButton'" ng-click="disable && addReview()"></span>&nbsp&nbsp&nbsp&nbsp&nbsp
                <span ng-class="!disable ? 'glyphicon glyphicon-ok iconButton' : 'glyphicon glyphicon-ok iconButton'" ng-click="!disable && updateReview()"></span></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="review in reviews" ng-class="{'success' : $index == selectedFormIndex}">
            <td>{{review.bookId}}</td>
            <td class="ratingReviews">{{review.rating}}</td>
            <td>{{review.comments}}</td>
            <td>
                <span class="glyphicon glyphicon-remove iconButton" ng-click="deleteReview($index)"></span>&nbsp&nbsp&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-pencil iconButton" ng-click="selectReview($index)"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>